<div class="back-container">
	<a href="#" routerLink="/home"><p id="back">{{home}}</p></a>
</div> 
<div id="info-table">
  <table>
    <tr>
      <td class="center-img-td">
        <img class="info-image" src='assets/front_comma.png'/>
      </td>
      <td>
        <p>Front comma: delete one symbol in the front of the word</p>
      </td>
    </tr>
    <tr>
      <td class="center-img-td">
        <img class="info-image" src='assets/back_comma.png'/>
      </td>
      <td>
        <p>Back comma: delete one symbol in the end of the word</p>
      </td>
    </tr>
    <tr>
      <td class="center-img-td">
        <img class="info-image" src='assets/equals_with_letters.png'/>
      </td>
      <td>
        <p>Change one symbol in the word to another symbol (Example: change 't' to 'm')</p>
      </td>
    </tr>
    <tr>
      <td class="center-img-td">
        <img class="info-image" src='assets/equals_with_number.png'/>
      </td>
      <td>
        <p>Insert one symbol in specified position (Example: insert to the first position in a word symbol 'r')</p>
      </td>
    </tr>
    <tr>
      <td class="center-img-td">
        <img class="info-image" src='assets/crossed_letter.png'/>
      </td>
      <td>
        <p>Deletion of specified symbol from the word</p>
      </td>
    </tr>
  </table>
</div>
