@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&subset=latin,cyrillic);

@font-face {
    font-family: 'alphafridgemagnets_regular';
    src: url('src/assets/alphafridgemagnets-webfont.woff2') format('woff2'),
         url('src/assets/alphafridgemagnets-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	background-image: url("src/assets/background_transparent.jpg"); 
	background-attachment: fixed;
}

h1 {
	font-family: 'alphafridgemagnets_regular';
	font-weight:normal;
    font-style:normal; 
	font-size:40px;
	color: white;
}

h2 {
	font-family: 'alphafridgemagnets_regular';
	font-weight:normal;
    font-style:normal; 
	font-size:20px;
	color: white;
}

p {
	font-family: 'alphafridgemagnets_regular';
	font-weight:normal;
    font-style:normal; 
	font-size: 18px;
	color: blue;
}