<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Rebus generator</title>
  </head>
  <body>
  
    <div id="header" class="middle-container">
      <h1>Rebus generator</h1>
    </div>
  
    <router-outlet></router-outlet>
		
		<div id="footer" class="middle-container">
      <div id="images-info">
          <p id="iconfinder">Most of images taken from <a href="https://www.iconfinder.com" target="_blank"><p>iconfinder.com</p></a></p>
      </div>
      <div id="contacts">
        <p id="email">daria.pleshchankova@gmail.com</p>
        <p><a href="https://github.com/Daply" target="_blank"><p id="github">https://github.com/Daply</p></a></p>
      </div>
    </div>

  </body>
</html>
